
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Maven Pro';
  src: url(./fonts/MavenPro-VariableFont_wght.ttf);
}

:root {
  --rally-green: #1EB980;
  --rally-darkgreen: #045D56;
  --rally-orange: #FF6859;
  --rally-yellow: #FFCF44;
  --rally-purple: #B15DFF;
  --rally-blue: #72DEFF;
  --background-gray: #333;
}
